[SddmGreeterTheme]
Name=Papirus
Description=Papirus Theme
Author=varlesh
Copyright=(c) 2013, Alexey Varfolomeev
License=CC-BY-SA
Type=sddm-theme
Version=0.1
Website=https://github.com/varlesh/papirus-suite
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=varlesh@gmail.com
Theme-Id=papirus
Theme-API=2.0
