/* Titlebar and Window Decoration button Assets, only for GNOME Shell (or Mutter) 3.16 and newer */

/* minimize */
.titlebar .titlebutton.minimize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/minimize.png"));
}

.titlebar .titlebutton.minimize:backdrop {
    background-image: -gtk-scaled(url("window-controls/minimize-inactive.png"));
}

.titlebar .titlebutton.minimize:hover {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/minimize-hover.png"));
}

.titlebar .titlebutton.minimize:active,
.titlebar .titlebutton.minimize:checked {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/minimize-pressed.png"))
}

/* maximize */
.titlebar .titlebutton.maximize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/maximize.png"));
}

.titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("window-controls/maximize-inactive.png"));
}


.titlebar .titlebutton.maximize:hover {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/maximize-hover.png"));
}

.titlebar .titlebutton.maximize:active,
.titlebar .titlebutton.maximize:checked {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/maximize-pressed.png"))
}

/* close */
.titlebar .titlebutton.close {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/close.png"));
}

.titlebar .titlebutton.close:backdrop {
    background-image: -gtk-scaled(url("window-controls/close-inactive.png"));
}


.titlebar .titlebutton.close:hover {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/close-hover.png"));
}

.titlebar .titlebutton.close:active,
.titlebar .titlebutton.close:checked {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/close-pressed.png"))
}

/* unmaximize */
.maximized .titlebar .titlebutton.maximize {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/unmaximize.png"));
}

.maximized .titlebar .titlebutton.maximize:backdrop {
    background-image: -gtk-scaled(url("window-controls/unmaximize-inactive.png"));
}


.maximized .titlebar .titlebutton.maximize:hover {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/unmaximize-hover.png"));
}

.maximized .titlebar .titlebutton.maximize:active,
.maximized .titlebar .titlebutton.maximize:checked {
   color: transparent;
    border-image: none;
    box-shadow: none;
    background-position: center;
    background-repeat: no-repeat;
    background-image: -gtk-scaled(url("window-controls/unmaximize-pressed.png"))
}
