/* default color scheme */
@define-color bg_color #eff0f1;
@define-color fg_color #555;
@define-color base_color #fff;
@define-color text_color #333;
@define-color selected_bg_color #888888;
@define-color selected_fg_color #fff;
@define-color tooltip_bg_color #000;
@define-color tooltip_fg_color #eff0f1;

/* colormap actually used by the theme, to be overridden in other css files */
@define-color theme_bg_color @bg_color;
@define-color theme_fg_color @fg_color;
@define-color theme_base_color @base_color;
@define-color theme_text_color @text_color;
@define-color theme_selected_bg_color @selected_bg_color;
@define-color theme_selected_fg_color @selected_fg_color;
@define-color theme_tooltip_bg_color @tooltip_bg_color;
@define-color theme_tooltip_fg_color @tooltip_fg_color;

/* shadow effects */
@define-color light_shadow #fff;
@define-color dark_shadow #000;

/* misc colors used by gtk+ */
@define-color info_fg_color rgb (0, 153, 204);
@define-color info_bg_color rgb (204, 234, 244);
@define-color warning_fg_color rgb (255, 136, 0);
@define-color warning_bg_color rgb (255, 231, 204);
@define-color question_fg_color rgb (86, 155, 228);
@define-color question_bg_color rgb (221, 235, 249);
@define-color error_fg_color rgb (204, 0, 0);
@define-color error_bg_color rgb (244, 204, 204);
@define-color link_color #888888;
@define-color success_color #669900;
@define-color warning_color #ff8800;
@define-color error_color #cc0000;

/* widget colors */
@define-color titlebar_bg_color @theme_bg_color;
@define-color titlebar_fg_color @theme_fg_color;
@define-color menubar_bg_color @theme_bg_color;
@define-color menubar_fg_color @theme_fg_color;
@define-color toolbar_bg_color @theme_bg_color;
@define-color toolbar_fg_color @theme_fg_color;
@define-color menu_bg_color @theme_bg_color;
@define-color menu_fg_color @theme_fg_color;
@define-color panel_bg_color @theme_bg_color;
@define-color panel_fg_color @theme_fg_color;

/* osd */
@define-color osd_base #333;
@define-color osd_fg #eff0f1;
@define-color osd_bg alpha(@osd_base, 0.8);

/* lightdm greeter colors */
@define-color lightdm_bg_color @theme_base_color;
@define-color lightdm_fg_color @theme_text_color;

/* window manager colors */
@define-color wm_bg_a shade(@titlebar_bg_color, 1.05);
@define-color wm_bg_b @titlebar_bg_color;
@define-color wm_border_focused shade(@titlebar_bg_color, 0.7);
@define-color wm_border_unfocused shade(@titlebar_bg_color, 0.8);
@define-color wm_title_focused mix(@titlebar_fg_color, @titlebar_bg_color, 0.1);
@define-color wm_title_unfocused mix(@titlebar_fg_color, @titlebar_bg_color, 0.6);

@import url("gtk-widgets.css");
@import url("gtk-widgets-assets.css");
@import url("apps/gnome-applications.css");
@import url("apps/unity.css");
@import url("apps/xfce.css");
@import url("apps/lightdm-gtk-greeter.css");
