[Desktop Entry]
Author=Grigorii Horos # Original theme was created by Moritz Lüdecke
Description=Papirus Dark theme for Kmail
FileName=header.html
Name=Papirus Dark
ThemeVersion=0.1
