[Desktop Entry]
Name=PapirusDark Transparent
Comment=Papirus aurorae theme

X-KDE-PluginInfo-Author=varlesh
X-KDE-PluginInfo-Email=
X-KDE-PluginInfo-Name=PapirusDark Transparent
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Category=Aurorae theme
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL_V3
X-KDE-PluginInfo-EnabledByDefault=true
